<div style="text-align:center;">
  <h1>Create Viewing Party for
    <%= @movie.title %></h1>
  <br>
  <br><%= button_to 'Discover Page', discover_path, method: :get %>
  <br>
  <br>
  <h3>Viewing Party Details</h3>
  <br>
  <%= form_with url: "/movies/#{@movie.id}/parties", method: :post, local: true do |f| %>
    <%= f.label :duration %>
    <%= f.number_field :duration, value: @movie.runtime %>
    <%= f.label :day %>
    <%= f.date_field :day %>
    <%= f.label :time %>
    <%= f.time_field :time %>
    Invite Other Users
    <% @users.each do |user| %>
      <%= f.check_box "#{user.name}" %>
      <%= f.label "#{user.name} (#{user.email})" %>
    <% end %>
    <%= f.submit 'Create Party' %>
  <% end %>
</div>
