<h1><%= @movie.title %></h1>

<%= button_to 'Discover Page', discover_path, method: :get %>

<%= button_to "Create Viewing Party for #{@movie.title}", "/movies/#{@movie.id}/parties/new", method: :get %>

Vote Average: <%= @movie.vote_average %> - Runtime: <%= @movie.runtime %> minutes - Genre(s): <%= @movie.genre_string %>

<h3>Summary:</h3>

<%= @movie.summary %>

<h3>Cast:</h3>

<% @cast.each do |actor| %>
  <p><%= actor.name %> as <%= actor.character %></p>
<% end %>

<h3><%= @count %> Reviews</h3>

<% @reviews.each do |review| %>
  <p><b>Author: <%= review.author %></b></p>
  <p><%= review.content %></p>
<% end %>